.button {
    padding: 10px 15px;
    background-color: $yellow;
    color: #000;
    font-weight: 600;
    transition: 250ms all ease-in-out;
    border: none;
    outline: none;
    border-radius: 50px;

    &:hover {
        cursor: pointer;
        background-color: darken($yellow, 15%);
    }

    // &-secondary {
    //     background-color: $secondary-color;

    //     &:hover {
    //         background-color: lighten($secondary-color, 8%);
    //     }
    // }
}

.btn-submit {
    margin: 30px 0 80px 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.separator {
    display: block;
    width: 60%;
    height: 1px;
    margin: 15px 0;
    background-color: $grey;
    border: none;
    outline: none;
}

.link {
    color: $text-color;
    text-decoration: none;
    transition: 250ms all ease-in-out;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: lighten($text-color, 8%);
    }
}

.card,
.tweet-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin: 20px 0;
    font-size: 0.75em;
    padding: 0px 15px;
    border-radius: 5px;
    font-weight: 100;
    align-items: center;
}

.tweet-card {
    flex-direction: column;
    align-items: flex-start;
}

.tweet-details {
    display: flex;
    align-items: center;
    p {
        padding-right: 10px;
    }
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 1.7em;
    }

    h3 {
        margin: 70px 0 30px 0;
        font-weight: 500;
    }

    h4 {
        margin: 30px 0 90px 0;
        font-weight: 400;
    }

    a:-webkit-any-link {
        color: $yellow;
        text-decoration: none;
    }

    p {
        margin: 5px 0;
    }
}

.form-container {
    margin-top: 22vh;
}

.txt-bolder {
    font-weight: 400;
}

.txt-padding {
    padding-left: 20px;
}

.icon {
    &__edit {
        width: 20px;
        height: 20px;
        fill: $text-color;
        cursor: pointer;

        &:hover {
            fill: #86a9cc;
        }
    }
}

.arrow {
    margin-bottom: -15px;
}

.subtitle {
    font-weight: 200;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74vh;
}

.search-result {
    display: flex;
    align-items: center;
}
