$primary-color: #63adf2;
$secondary-color: #ff686b;
$text-color: #fff;
$grey: rgb(200, 200, 200);

@import './base.scss';
@import './components.scss';
@import './navigation.scss';
@import './result.scss';
@import './search.scss';
