$primary-color: #000;
$secondary-color: #ff686b;
$text-color: #eef0f2;
$grey: rgb(200, 200, 200);
// $yellow: #fbc91b;
$yellow: #fbd244;

@import './base.scss';
@import './components.scss';
@import './navigation.scss';
@import './search.scss';
@import './radio.scss';
@import './loading.scss';
@import './textAnimation.scss';
@import './button.scss';
@import './notFound.scss';
@import './signForm.scss';
@import './queries.scss';
