$primary-color: #000;
$secondary-color: #ff686b;
$text-color: #fff;
$grey: rgb(200, 200, 200);
$yellow: #fbc91b;

@import './base.scss';
@import './components.scss';
@import './navigation.scss';
@import './search.scss';
@import './radio.scss';
@import './loading.scss';
@import './textAnimation.scss';
@import './button.scss';
@import './notFound.scss';
