.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

$spinner-dimensions: 50px; //width and height of spinner block
$spinner-1-bg: #fbd244; //spinner-1 background-color

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

.spinner-eff {
    position: relative;
    width: $spinner-dimensions;
    height: $spinner-dimensions;

    &:before,
    &:after {
        content: '';
        display: block;
    }

    .spinner-bar {
        &:before,
        &:after {
            content: '';
            display: block;
        }
    }
}

.spinner-eff.spinner-eff-1 {
    @keyframes rotation-top {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        20% {
            transform: rotate(360deg);
            opacity: 1;
        }

        80% {
            transform: rotate(360deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0.5;
        }
    }

    @keyframes rotation-right {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        20% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        40% {
            transform: rotate(360deg);
            opacity: 1;
        }

        80% {
            transform: rotate(360deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0.5;
        }
    }

    @keyframes rotation-bottom {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        40% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        60% {
            transform: rotate(360deg);
            opacity: 1;
        }

        80% {
            transform: rotate(360deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0.5;
        }
    }

    @keyframes rotation-left {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        60% {
            transform: rotate(0deg);
            opacity: 0.5;
        }

        80% {
            transform: rotate(360deg);
            opacity: 1;
        }

        100% {
            transform: rotate(360deg);
            opacity: 0.5;
        }
    }

    .bar {
        width: 0;
        height: 0;
        border: $spinner-dimensions/2 solid transparent;
        @include position-absolute($top: 0, $left: 0);
        transform: rotate(0deg);
        opacity: 0.5;

        &-top {
            border-top: $spinner-dimensions/2 solid $spinner-1-bg;
            animation: rotation-top 3.6s linear 0s infinite;
        }

        &-right {
            border-right: $spinner-dimensions/2 solid $spinner-1-bg;
            animation: rotation-right 3.6s linear 0s infinite;
        }

        &-bottom {
            border-bottom: $spinner-dimensions/2 solid $spinner-1-bg;
            animation: rotation-bottom 3.6s linear 0s infinite;
        }

        &-left {
            border-left: $spinner-dimensions/2 solid $spinner-1-bg;
            animation: rotation-left 3.6s linear 0s infinite;
        }
    }
}
