.navigation {
    background-color: $primary-color;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: #fff;

    &:visited {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}

.logo {
    font-family: 'Comfortaa', cursive;
    font-size: 1.25em;
    color: $yellow !important;
}
